h2{
  text-align: center;
	font-size: 90px;
	margin: 0;
  padding-left: 5%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body{
padding-left: : 100;
padding-right: 100;

padding-bottom: 100;
}

canvas{
  background: #cccccc;
  margin-left: 27%;
  margin-right: 10%;
  margin-top: 1.5%;
  padding:0;
}

.button {
    background-color: #ffb3ff;
    border: none;
    color: black;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 10px 20px;
    margin-top: 1%;
    margin-left: 50%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #b3c6ff;
}
