h2{
  text-align: center;
	font-size: 90px;
	margin: 0;
  padding-left: 5%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

body{
padding-left: : 100;
padding-right: 100;
padding-top: 100;
padding-bottom: 100;
}

canvas{
  background:#99ceff;
  margin-left: 40%;
  margin-top: 6%;
  padding:0;
}
