html{
  background-color: #8b0000;
}

body{
  color: white;
  text-align: center;
  margin-left: 10px;
}

h1{
  font-size: 50px;
  font-family: 'Mountains of Christmas', cursive;
  margin-left: 1px;
}
/* START of BALL 1 */

.flex-container {
  display: flex;
  flex-direction: row;
}
.ballwrapper{
  margin:70px;
}

.ball-wrapper {
  float: left;
  margin: 0 80px;
}

.ball{
  background-color: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 3px;
}

.topper{
  height: 22px;
  width: 30px;
  background-color:#FFD700;
  position: relative;
  left: 65px;
  top: 7px;
  border-radius: 4px;
}

.ring{
  height: 15px;
  width: 5px;
  border: 2px solid #f99d24;
  border-radius: 45%;
  position: relative;
  left: 76.4px;
  top: 12px;
}

.string{
  width: 1.5px;
  position: relative;
  background-color: #f99d24;
  height: 100px;
  left: 80px;
  top: 12.4px;
  margin-top: -80px;
}


/* home button */
.button {
    background-color: #4CAF50;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;
    margin-left: 1px;

}

/* home */
.button1 {
    background-color: white;
    color: black;


}
.button1:hover {
    background-color: #004d00;
    color: white;
}
