
body{
  width:100%;
  background-color: #004d00;
}
/* .aCell {
  overflow: hidden;
    background:#9e66b4;
    max-width:450px;
    margin-bottom:2%;
    margin-left:25%;


} */
.content {
    max-width: 900px;
    margin-top: 250px;
    margin-left: 530px;
    background: #004d00;
    padding: 0px;
}

/* move audio */
.audioElements{
  padding-left: 50%;
  padding-top: -1%;
}

#audioElements div{
padding-left:43%;
padding-top: -1%;
}

img {
    width: 250px;
    height:auto;

}

p{
  text-align: center;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  padding-top: 2%;
  padding-left: 2%;


}

h1{
   text-align: center;
   font-size: 30px;
   font-family: 'Mountains of Christmas', cursive;
   font-weight: bold;
   padding-bottom: 0%;
}


h2{
   text-align: center;
   font-size: 20px;
   font-family: 'Mountains of Christmas', cursive;
   font-weight: bold;
   padding-top: 1px;
   margin-left: 20px;
}


.Stairs{
  padding-left: 50%;
  padding-top: 50%;
}

.searchText{
  align-items: center;
  padding-top: 50%;
  font-size: 15px;
}


.button {
    background-color: #000000;
    border: none;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-left: 39%;
    margin-top: 3%;
    cursor: pointer;
}

.searchButton{
  align-items: center;
  padding-top: 50%;
  margin: 5px 5px 5px 5px;
}

input{
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* see other input and home button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    margin: 4px 400px;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}

/* SEE OTHER USERS INPUT */
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}
