
body{
  width:100%;
  background-color: #004d00;
}
.aCell {
  overflow: hidden;
    background:#9e66b4;
    max-width:450px;
    margin-bottom:2%;
    margin-left:25%;


}
.content {
    max-width: 900px;
    margin-top: 250px;
    margin-left: 530px;
    background: #004d00;
    padding: 0px;
}

.audioElements{
  padding-left: 25px;
  margin-left: 25px;
}
img {
    width: 250px;
    height:auto;

}

p{
  text-align: center;
  font-size: 30px;
  font-family: "Lucida" Grande, sans-serif;
  font-weight: bold;
  padding-top: 15%;


}

h1{
   text-align: center;
   font-size: 30px;
   font-family: Helvetica;
   font-weight: bold;
   padding-bottom: 0%;
}


h2{
   text-align: center;
   font-size: 20px;
   font-family: "Lucida" Grande, sans-serif;
   font-weight: bold;
   padding-bottom: 0%;
   margin-top: 0%;
  margin-left: 20px;
}




.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.Stairs{
  padding-left: 50%;
}

.searchText{
  align-items: center;
}

/* input button */
.button {
    background-color: #000000;
    border: none;
    color: white;
    font-family: "Helvetica";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-left: 39%;
    margin-top: 3%;
    cursor: pointer;
}

.searchButton{
  align-items: center;
}

input{
  align-items: center;
}
