
body{
  width:100%;
  background-color: #8b0000;
}
/* start of view results*/
/* move the text*/
#bodyContainer{
  position: absolute;
  top:0;
  z-index:1;
  margin-left: 27%;
  margin-right: 27%;
}

/* move the reults box*/
#userInfo{
  position: absolute;
  top:40%;
  left:67%;
  z-index:5;
  width:500px;
  background-color:#004d00;
  display:none;
  box-shadow:  10px 8px 10px #888888;
}
/* end of view results*/


/* move image */
#imageElements{
  padding-left: 20%;
  padding-top: 5%;
}

#imageElements div{
margin-left:25%;
}


img {
    width: 250px;
    height:auto;

}
/* to move the search box */
p{
  text-align: center;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 35px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  padding-bottom: 0%;

}


h2{
  text-align: center;
  font-size: 25px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  padding-bottom: 0%;
  padding-top: 5%;

}


.Stairs{
  padding-left: 50%;
  padding-top: 5%;
}

.searchText{
  align-items: center;
  padding-top: 50%;
  font-size: 15px;
}

.searchButton{
  align-items: center;
  padding-top: 50%;
  margin: 5px 5px 5px 5px;
}

/* change size of type box */
input{
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonWrapper{
  margin-left:25%;
}

/* see other input and home button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #8b0000;
    /*margin: 4px 400px;*/
}
.button1:hover {
    background-color: #004d00;
    color: white;
}

/* SEE OTHER USERS INPUT */
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #8b0000;
}
.button2:hover {
    background-color: #003366;
    color: white;
}
