
body{
  width:100%;
  background-color: #8b0000;
}
.aCell {
  overflow: hidden;
    background:#9e66b4;
    max-width:450px;
    margin-bottom:2%;
    margin-left:25%;


}
.content {
    max-width: 900px;
    margin-top: 50px;
    margin-left: 530px;
    background: #FFFFFF;
    padding: 0px;
}

#imageElements{
  padding-left: 25px;
  margin-left: 25px;
  /* background:blue; */
}
#imageElements div{
margin:25%;
}


img {
    width: 250px;
    height:auto;

}

p{
  text-align: center;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  padding-top: 5%;


}

h1{
   text-align: center;
   font-size: 35px;
   font-family: 'Mountains of Christmas', cursive;
   font-weight: bold;
   padding-bottom: 0%;

}


h2{
   text-align: center;
   font-size: 25px;
   font-family: 'Mountains of Christmas', cursive;
   font-weight: bold;
   padding-bottom: 0%;
   padding-top: 5%;

}





.Stairs{
  padding-left: 50%;
  padding-top: 5%;
}

.searchText{
  align-items: center;
  padding-left: 50%;
  padding-top: 0%;
}



.searchButton{
  align-items: center;
}

input{
  align-items: center;
}

/* see other input */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 905px;
    /* -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: center;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;

}

.button3:hover {
    background-color: #f44336;
    color: white;
}
