@charset "UTF-8";
/* CSS Document */

body {
	background-color: #000000;

    background-repeat: no-repeat;
    background-position: left bottom;
    margin-right: 5px;
    background-attachment: fixed;
}




h1 {
	text-emphasis: 20px;
	align-content: center;
	letter-spacing: 5pt;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 27px;
	border-bottom:thick;
	margin-bottom: auto;
	color: #ffffff;


}



.content {
    max-width: 900px;
    margin: auto;
    background: #000000;
    padding: 5px;
}


h2 {
	align-content: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	border-bottom:thin;
	margin-bottom: auto;
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;

}

h3 {
	text-emphasis: 20px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	letter-spacing: 5pt;
	align-content: center;
	border-bottom:thin;
	margin-bottom: auto;
	color: #ffffff;

}


h4 {
	text-align: center;
	font-size: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	border: none;
	padding-bottom: 0pt;
	color: #ffffff;
}

p{
	color: #ffffff;
}




.body {
	color: #000000;
	text-transform: uppercase;
	text-align: center;



}

#more {display: none;}

footer {
	text-align: center;
	font-size: 15px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-bottom: 2%;

}



.PAR {
	position: relative;
	height: 54vw;
	background-color: #000000;

	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";

}
