/* COMING SOON PAGE */
body, html {
    height: 100%
}

.bgimg {

    background-image: url('images/ComingSoonSign.png');
     height: 85%;
     width:auto;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 25px;
}



/* Position text in the bottom-left corner */
.bottomleft {
    padding-left: 3%;
    padding-top: 40%;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

P{
  font-size: 50px;
}

/* see other input and home button */
.button {
    background-color: white;
    border: none;
    color: white;
    /* PADDING = SPACE AROUND TEXT */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;


}
.button1:hover {
    background-color: #8b0000;
    color: white;
}
