/* css for the initial form*/
label{display:inline-block; width:30%;font-size:1vw; font-weight: bold; align: center; margin-top:1%;}
textarea{vertical-align: top;width:50%;margin-left:2%;}
input{margin-left:2%;width:50%;}
fieldset{background-color:#003366;width:20%;color:#000000;margin:0 auto;margin-top:1px;}
#buttonS{margin:0;width:auto;font-size:1vw;}
.sub{background:#003366;padding:2%;}



/* css for displaying the output AKA THE Results*/
.outer h3{font-size:16px;color:#555;font-family:arial;font-style:bold;}
.outer{background-color:#B3000C;margin:0 auto;margin-top:2%;padding-bottom:2%; width:50%;overflow:hidden;}
.content{background-color:#B3000C;width:75%; margin:0 auto;padding:2%; margin-top:1%;}
.content p{padding:2%;background:#B3000C;font-family:arial;}
img{margin:2%;width:96%;}

.formContainer{
  border-radius: 0%;
}
h3{
   font-family: 'Mountains of Christmas', cursive;
   font-size: 25px;
   color: #000000;
   text-align: center;
   margin-top: 0%;
}

p{
  font-family: 'Mountains of Christmas', cursive;
  font-size: 15px;
  color: #000000;
}
