
body{
  width:100%;
  background-color: grey;
}
.aCell {
  overflow: hidden;
    background:#9e66b4;
    max-width:450px;
    margin-bottom:2%;
    margin-left:25%;


}
img {
    width: 250px;
    height:auto;

}

p{
  text-align: center;
  font-size: 30px;
  font-family: "Lucida" Grande, sans-serif;
  font-weight: bold;


}

h1{
   text-align: center;
   font-size: 30px;
   font-family: "Lucida" Grande, sans-serif;
   font-weight: bold;
   padding-bottom: 0%;
}





.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.Stairs{
  padding-left: 50%;
}

.searchText{
  align-items: center;
}

.searchButton{
  align-items: center;
}

input{
  align-items: center;
}
