
body{
  width:100%;
  background-color: grey;
}
.aCell {
  overflow: hidden;
    background:#9e66b4;
    max-width:450px;
    margin-bottom:2%;
    margin-left:25%;


}
img {
    width: 250px;
    height:auto;

}

p{
  text-align: center;
  font-size: 30px;
  font-family: "Lucida" Grande, sans-serif;
  font-weight: bold;


}

h1{
   text-align: center;
   font-size: 30px;
   font-family: "Lucida" Grande, sans-serif;
   font-weight: bold;
   padding-bottom: 0%;
}





button {
  align: center;
}
.Stairs{
  padding-left: 50%;
}

.searchText{
  align-items: center;
}

.searchButton{
  align-items: center;
}
