h2{
  font-size: 200%;
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  padding-left: 7%;

}

body{
  padding-left: : 100;
  padding-right: 100;
  padding-bottom: 100;
}

canvas{
  background-color: #003366;
  margin-left: 27%;
  margin-right: 19%;
  margin-top: 1.5%;
  padding:0;

}
.scoretext{
  font-family: 'Mountains of Christmas', cursive;
}
.buttonWrapper{
  margin-left:43%;
}

/* see other input and home button */
.button {
    background-color: white;
    border: none;
    color: white;
    /* PADDING = SPACE AROUND TEXT */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #ffffff;

}
.button1:hover {
    background-color: #004d00;
    color: white;
}

/* RESTART GAME */
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #ffffff;
}
.button2:hover {
    background-color: #8B0000;
    color: white;
}
