h1{
/*  z-index: 5;
  padding-top: 5%;
  position:absolute;
  top:0;
  left:0;*/
  font-family: 'Mountains of Christmas', cursive;
}

body{
padding-left: : 100;
padding-right: 100;
padding-bottom: 100;
}

canvas{
  background-color: #003366;
  /*z-index: 1;
  position:absolute;
  top:0;
  left:0;*/
}

/* padding - space around the text */

.button {
    background-color: #ffb3ff;
    border: none;
    color: black;
    font-family: 'Mountains of Christmas', cursive;
    padding: 10px 20px;
    margin-top: 1%;
    margin-left: 52%;
    margin-right: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #b3c6ff;
}
