
body {
	background-color: white;
	background-image: url("./images/z.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-right: 5px;
    background-attachment: fixed;
}



h2{
  text-align: center;
}
h3{
  text-align: center;
}
