body{
  margin: 0;
  padding: 0;
  font-family: 'Mountains of Christmas', cursive;
  background-image: linear-gradient(125deg, #8b0000, #004d00, #003366,#8b0000, #004d00, #003366,#8b0000, #004d00, #003366 );
  background-size: 400% 1000%;
  animation: bganimation 15s infinite;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.text{
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
  font-size: 60px;
}

h2{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
    margin: 50px 0;
      text-align: center;
        color: white;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }

}

/* home button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;
    margin-left: 45%;

}

/* home */
.button1 {
    background-color: white;
    color: black;


}
.button1:hover {
    background-color: #8b0000;
    color: white;
}
