body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  background: url(images/goldtree.png);
  height: 100%;
  width:auto;
  background-size: cover;
  font-family: 'Mountains of Christmas', cursive;
}



.container{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  text-align: center;
  color: white;
}

.container h1{
  text-transform: uppercase;
  font-size: 80px;
  margin: 0;
  letter-spacing: 10px;
}

.container h2{
  margin: 0;
  font-size: 30px;
  font-weight: 500;


}

.count{
  margin: 40px 0;
}

/* CHANGE THE SIZE OF THE BOXES (W) */
.countd{
  display: inline-block;
  width: 145px;
  height: 80%;
  /* border: 3px solid; */
  margin: 0 30px;
  font-size: 30px;

}

.count span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

/* home button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 45%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    /*margin: 4px 400px;*/
}
.button1:hover {
    background-color: #FFD700;
    color: black;
}
