canvas {
    /* border:1px solid #d3d3d3; */
    background-color: #003366;
    z-index: 1;
    position:absolute;
    top:0;
    left:0;
}

h1{
  z-index: 5;
  padding-top: 5%;
  position:absolute;
  font-family: 'Mountains of Christmas', cursive;
  text-align: center;
  padding-left: 32%;
  margin-top: 1px;
}

/* Restart game and back to calander */
.button {
    background-color: white;
    border: none;
    color: white;
    z-index: 5px;
    /* PADDING = SPACE AROUND TEXT */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* back to home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #003366;
    /*margin: 4px 400px;*/
}
.button1:hover {
    background-color: #004d00;
    color: white;
}

/* restart game */
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #003366;
}
.button2:hover {
    background-color: #8b0000;
    color: white;
}
