/* css for the initial form*/
label{display:inline-block; width:30%;font-size:1vw; font-weight: bold; align: center; margin-top:1%;}
textarea{vertical-align: top;width:50%;margin-left:2%;}
input{margin-left:2%;width:50%;}
fieldset{background-color:#8b0000;width:90%;color:#000000;font-family:'Mountains of Christmas', cursive; margin-left: auto;margin-top:125%; margin-left:260%;}
#buttonS{margin:0;width:auto;font-size:1vw;}
.sub{background:#8b0000;padding:2%;}
h3{text-align: center; width:50%;font-family:'Mountains of Christmas', cursive;color:#555;margin:0 auto; margin-top:5%; margin-left:290%;}


/* css for displaying the output*/
.outer h3{font-size:16px;color:#555;font-family:arial;font-style:bold;}
.outer{background-color:#3ad7ff;margin:0 auto;margin-top:2%;padding-bottom:2%; width:50%;overflow:hidden;}
.content{background-color:#CF8AEC;width:75%; margin:0 auto;padding:2%; margin-top:1%;}
.content p{padding:2%;background:#E0C9E9;font-family:'Mountains of Christmas', cursive;}
img{margin:2%;width:96%;}
