@charset "UTF-8";
/* CSS Document */

body {
	  background-color: #8b0000;
		/* height: 85%;
		width:auto; */
    margin-right: 4px;
    background-attachment: fixed;
}



img{
  margin-left: 38%;
	margin-right: 40%;

}

.responsive {
	width: 100%;
  max-width: 25%;
  height: auto;
}

h4 {
	text-align: center;
	margin-left: 2%;
	font-size: 35px;
  font-family: 'Mountains of Christmas', cursive;
	border: none;
	color: #000000;
	margin-bottom: 0;
	margin-top: 0;
}

p{
	color: #ffffff;
}

.buttonWrapper{
  margin-left:45%;
	margin-bottom: 1%;
}

/* home button */
.button {
    background-color: white;
    border: none;
    color: white;
    /* PADDING = SPACE AROUND TEXT */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #8b0000;

}
.button1:hover {
    background-color: #003366;
    color: white;
}
