@charset "UTF-8";
/* CSS Document */

body {
	background-color: #8b0000;


    margin-right: 4px;
    background-attachment: fixed;
}



img{
  padding-left: 21%;
}



.content {
    max-width: 900px;
    margin: auto;
    background: #8b0000;
    padding: 5px;
}


h2 {
	align-content: center;
  font-family: 'Mountains of Christmas', cursive;
	font-size: 20px;
	border-bottom:thin;
	margin-bottom: auto;
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;

}

h3 {
	text-emphasis: 20px;
	font-family: 'Mountains of Christmas', cursive;
	letter-spacing: 5pt;
	align-content: center;
	border-bottom:thin;
	margin-bottom: auto;
	color: #ffffff;

}


h4 {
	text-align: center;
	font-size: 20px;
font-family: 'Mountains of Christmas', cursive;
	border: none;
	padding-bottom: 0pt;
	color: #ffffff;
}

p{
	color: #ffffff;
}


/* home button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1% 40%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /*margin: 4px 400px;*/
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
