@charset "UTF-8";
/* CSS Document */

body {
	background-color: #8b0000;


    margin-right: 5px;
    background-attachment: fixed;
}







.content {
    max-width: 900px;
    margin: auto;
    background: #8b0000;
    padding: 5px;
}


h2 {
	align-content: center;
  font-family: 'Mountains of Christmas', cursive;
	font-size: 20px;
	border-bottom:thin;
	margin-bottom: auto;
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;

}

h3 {
	text-emphasis: 20px;
	font-family: 'Mountains of Christmas', cursive;
	letter-spacing: 5pt;
	align-content: center;
	border-bottom:thin;
	margin-bottom: auto;
	color: #ffffff;

}


h4 {
	text-align: center;
	font-size: 20px;
font-family: 'Mountains of Christmas', cursive;
	border: none;
	padding-bottom: 0pt;
	color: #ffffff;
}

p{
	color: #ffffff;
}



/*
.body {
	color: #000000;
	text-transform: uppercase;
	text-align: center;



} */





/* .PAR {
	position: relative;
	height: 54vw;
	background-color: #000000;

	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";

} */
