@charset "UTF-8";
/* CSS Document */

body {
	  background-color: #8b0000;
    margin-right: 4px;
    background-attachment: fixed;
}



img{
  padding-left: 36%;
}





h4 {
	text-align: center;
	padding-left: 2%;
	font-size: 20px;
  font-family: 'Mountains of Christmas', cursive;
	border: none;
	padding-bottom: 0pt;
	color: #ffffff;
}

p{
	color: #ffffff;
}

.buttonWrapper{
  margin-left:45%;
}

/* home button */
.button {
    background-color: white;
    border: none;
    color: white;
    /* PADDING = SPACE AROUND TEXT */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 1%;
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

}

/* home */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #8b0000;

}
.button1:hover {
    background-color: #003366;
    color: white;
}
