
body{
  margin:0;
  padding:0;
  background: 0;
  margin! 0;
}
canvas{
  background:black;
  margin:0;
  padding:0;
  position: absolute;
  z-index: 0;
  left:0;
  top:0;
}

#header{
  position:absolute;
  z-index: 5;
  left:0;
  top:0;
  width:100%;
}
.Home{
  font-size: 70px;
  color: white;
  position: absolute;
  z-index: 2;
  left:40%;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.button {
    /*background-color: #000000;*/
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    padding-top: 1%;
    margin-left: 40%;
    text-decoration: none;
}





#wire{
  text-align: center;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  width: 100%;
  top: -80px;
  border-bottom: 3px solid #ffffff;
  height: 100px;
  z-index: 5;

}

#wire li {
  position: relative;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background: #ffffff:
  /* ani stuff here */
  animation-name: even-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  z-index: 5;

}

#wire li:nth-child(odd){
  animation-name: odd-flash;
  z-index: 5;
}

#wire li:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0;
  background: #ffffff;
  z-index: 5;
}

@keyframes even-flash{
  0%, 100% {
    background: rgba(255,230,65,1);
    box-shadow: 0px, 2px, 20px, 4px, rgba(255,230,65,1);
  }
  50%{
    background: rgba(255,230,65,0.5);
    box-shadow: 0px, 2px, 20px, 4px, rgba(255,230,65,0.3);
  }
}

@keyframes odd-flash{
  50% {
    background: rgba(255,65,185,1);
    box-shadow: 0px, 2px, 20px, 4px, rgba(255,65,185,1);
  }
  0%, 100% {
    background: rgba(255,230,65,0.5);
    box-shadow: 0px, 2px, 20px, 4px, rgba(255,65,185,1);
  }
}

#text{
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  padding-top: 15%;
  font-family: 'Mountains of Christmas', cursive;
  z-index: 5;
}
