* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

main {
	display: flex;
  justify-content: center;
  align-items: center;
	width:100%;
	height: 100%;
	background-color: black;
	border: solid #eee 20px;
	text-align: center;
}



hgroup h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15vmin;
	color:#fff;
}

hgroup h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 4vmin;
	text-transform: uppercase;
	color:#CECECE;
	text-shadow: 0px 0px 40px rgba(40, 40, 40, .5);
}

nav {
	background: #333;
	display: flex;
	flex-flow: row wrap;
	margin-top:20px;
}

nav a:link {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding:1vmax 2vmax;
	flex-grow: 1; /* default 0 */
	text-transform: uppercase;
	text-decoration: none;
	color:#eee;
	box-shadow: inset 0 0 0 0 #eee;
}

nav a:visited {
	color:#D3F9FF;
}

nav a:hover {
	color: #333;
	background: #eee;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
